[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "==2.12"
numpy = "*"
keras = "*"
discord = "==2.2.3"
requests = "*"
pillow = "*"
ipython = "*"

[dev-packages]

[requires]
python_version = "3.10"
